{{define "content"}}
<!-- Main Content -->
  {{ template "navbar-placeholder.html" }}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix" style="margin-top: 97px;">
          <a class="btn btn-primary float-left" href="/list/1">&larr;</a>
          <a class="btn btn-primary float-right" href="/list/2">&rarr;</a>
        </div>
        {{ range .Rest }}
        <div class="post-preview">
          <a href="/post/{{ .Id }}">
            <h2 class="post-title">{{ .Header }}</h2>
            <h3 class="post-subtitle">{{ .Lead }}</h3>
          </a>
          <p class="post-meta">{{ .Date.Local.Format "02.01.2006" }}</p>
        </div>
        <hr />
        {{ end }}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-left" href="/list/1">&larr;</a>
          <a class="btn btn-primary float-right" href="/list/2">&rarr;</a>
        </div>
      </div>
    </div>
  </div>
  {{end}} {{template "layout.html" .}}
</div>
