<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('/static/img/home-bg.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <a href="/post/{{ .Id }}">
            <h1>{{.Header}}</h1>
            <span class="subheading">{{.Lead}}</span>
          </a>
          <p class="post-meta">{{ .Date.Local.Format "02.01.2006" }}</p>
        </div>
      </div>
    </div>
  </div>
</header>
