<!-- Page Header -->
{{ if .Article.Photo }}
<header class="masthead" style="background-image: url('{{ .Article.Photo }}')">
  {{ else }}
  <header
    class="masthead"
    style="background-image: url('/static/img/home-bg.jpg')"
  >
    {{ end }}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="overflow:hidden;">
          <div class="site-heading">
            <a href="/post/{{ .Article.Id }}">
              <h1>{{.Article.Header}}</h1>
              <span class="subheading">{{.Article.Lead}}</span>
            </a>
            <span class="heading-date">{{ .Article.Date.Local.Format "02.01.2006" }}</p>
          </div>
        </div>
      </div>
    </div>
  </header>
</header>
